---
import { getCollection } from 'astro:content';
import Layout from "../../layouts/Layout.astro";
import ImageTabs from "../../components/image-tabs.vue";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
    const blogEntries = await getCollection('project');
    return blogEntries.map(entry => ({
        params: { slug: entry.slug }, props: { entry },
    }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout>
    <header class="h-[90vh] w-screen bg-cover bg-center" style={'background-image: url(/images/projects/'+entry.slug+'/'+entry.data.banner+');'}>
        <div class="container pt-8">
            <a href="/">
                <img
                        src="/images/logo/zwart.svg"
                        alt="Logo Bouwcoordinatie"
                        class="w-40"
                />
            </a>
        </div>
        <div  ></div>
    </header>
    <main>
        <div class="h-60 -mt-96 bg-gradient-to-t from-10% from-antracite"></div>
        <section class="text-white text-center bg-antracite pt-6">
            <div class="container">
                <div class="text-primary font-semibold text-xl">{entry.data.type}</div>
                <div class="text-center text-5xl mt-1 font-bold">
                    <h1>{entry.data.title}</h1>
                </div>
                <div class="max-w-2xl mt-12 mx-auto text-center text-lg">
                    <p>{entry.data.description}</p>
                </div>
                <div class="max-w-2xl mt-2 mx-auto text-center text-lg">
                    <p>{entry.data.baseline}</p>
                </div>
            </div>
        </section>
        <section class="py-20 bg-antracite">
            <div class="container">
                <div class="mx-auto max-w-6xl">
                    <ImageTabs client:visible images={entry.data.images.map(img => '/images/projects/' + entry.slug + '/' + img)} />
                </div>
            </div>
        </section>
        
        
    </main>

    
</Layout>