---
import NavMenu from "../components/nav-menu.vue";
import BannerSlider from "../components/banner-slider.vue";
import Layout from "../layouts/Layout.astro";
import { getCollection } from 'astro:content';
const allProjects = await getCollection('project');
---

<Layout>
	<header class="h-screen">
		<BannerSlider client:only="vue" />

		<div class="md:container relative sm:h-full">
			<div class="relative bg-primary p-4 inline-block text-white">
				<a href="/" class="inline-block">
					<img src="/images/logo/wit.svg" class="w-48 sm:w-52" alt="Strak Plan" />
				</a>
			</div>

			<NavMenu client:only="vue" />
		</div>
	</header>
	<main class="relative ">
		<div class="absolute bg-gradient-to-b from-transparent to-antracite bottom-full w-full h-96 left-0"></div>
		<section class="bg-antracite text-white text-center py-12 relative  z-10">
			<div class="container">
			<h1 class="text-4xl md:text-5xl font-bold mb-5  -mt-28">
				Bouw met visie, van ruwbouw tot afwerking
			</h1>
			<p class="text-md md:text-xl leading-8 max-w-3xl mx-auto">
				Bij STRAK PLAN bieden we bouwoplossingen aan die verder gaan dan de standaard. Of je nu op zoek bent naar een totaaloplossing van A tot Z of je wil je project in fasen opdelen, 
				wij zorgen voor de perfecte uitvoering. Als jong en gedreven team met jarenlange ervaring, werken we met vakmanschap en oog voor detail om jouw bouwdromen werkelijkheid te maken.
			</p>
			</div>
		</section>
		
		<section class="bg-antracite py-12">
			<div class="container max-w-3xl ">
				<div class="grid grid-cols-1 gap-6 text-white">
					<details class="[&_span]:open:inline-block [&_div]:open:hidden">
						<summary class="bg-primary py-2 px-4 font-medium list-none hover:bg-primary-dark mb-3 cursor-pointer ease-in-out transition-colors flex">
							Totaalprojecten - Van A tot Z: 
							<span class="ml-auto hidden"><i class="far fa-circle-minus"></i></span>
							<div class="ml-auto inline-block"><i class="far fa-circle-plus"></i></div>
						</summary>
						Wij nemen je hele bouwproject uit handen. Van het eerste ontwerp tot de laatste afwerking: wij coördineren alles, voeren de ruwbouwwerken zelf uit en werken met een netwerk van 
						betrouwbare partners om jouw visie tot leven te brengen. Je kunt vertrouwen op een zorgeloos proces met ons als jouw aanspreekpunt voor alles wat er komt kijken bij je renovatie of nieuwbouw.
					</details>

					<details class="[&_span]:open:inline-block [&_div]:open:hidden">
						<summary class="bg-primary py-2 px-4 font-medium list-none hover:bg-primary-dark mb-3 cursor-pointer ease-in-out transition-colors flex">
							Ruwbouw – De stevige basis:
							<span class="ml-auto hidden"><i class="far fa-circle-minus"></i></span>
							<div class="ml-auto inline-block"><i class="far fa-circle-plus"></i></div>
						</summary>
						Heb je al een ontwerp in gedachten en zoek je een specialist voor de ruwbouw? Zaakvoerder Bram staat elke dag mee op de werf wat zorgt voor een vlotte en transparante communicatie op de werf.
						Ons team staat alle dagen klaar om met plezier uw thuis te bouwen. Bouwen is nu eenmaal wat we graag en goed doen!
					</details>

					<details class="[&_span]:open:inline-block [&_div]:open:hidden">
						<summary class="bg-primary py-2 px-4 font-medium list-none hover:bg-primary-dark mb-3 cursor-pointer ease-in-out transition-colors flex">
							Wind & waterdicht:
							<span class="ml-auto hidden"><i class="far fa-circle-minus"></i></span>
							<div class="ml-auto inline-block"><i class="far fa-circle-plus"></i></div>
						</summary>
						Los van het totaalproject, ruwbouw of afwerking bieden wij ook casco oplossingen aan. Wij zetten de ruwbouw, dak en buitenschrijnwerk. Door goede samenwerkingen met onze vaste partners 
						voor dak en buitenschrijnwerk kunnen al deze werken zeer kort op elkaar volgen wat het bouwproces serieus kan doen inkorten.
					</details>

					<details class="[&_span]:open:inline-block [&_div]:open:hidden">
						<summary class="bg-primary py-2 px-4 font-medium list-none hover:bg-primary-dark mb-3 cursor-pointer ease-in-out transition-colors flex">
							Afwerking – Het laatste stukje finesse:
							<span class="ml-auto hidden"><i class="far fa-circle-minus"></i></span>
							<div class="ml-auto inline-block"><i class="far fa-circle-plus"></i></div>
						</summary>
						De afwerking maakt het verschil. Of het nu gaat om het plaatsen van vloeren, plaatsen van alle technieken of het pleisteren van muren & plafond, Zaakvoerder Jeroen zorgt samen met onze vaste 
						partners voor een verfijnde afwerking die het hele project afmaakt. Met oog voor detail en kwaliteit geven we jouw pand de uitstraling die het verdient.
					</details>
				</div>
			</div>
		</section>

		<section class="bg-antracite py-12">
			<div class="container max-w-5xl ">
				<h2 class="text-center text-primary text-3xl font-semibold mb-4">Waarom kiezen voor Strak Plan?</h2>
				<ul class="grid grid-cols-1 gap-6 text-white">
					<li><i class="far fa-check-circle text-primary mr-2"></i><span class="font-semibold">Alles onder één dak:</span> Of je nu kiest voor een totaalproject of voor een specifieke fase van het bouwproces, wij regelen alles voor je.</li>
					<li><i class="far fa-check-circle text-primary mr-2"></i><span class="font-semibold">Flexibiliteit en maatwerk:</span> Jij bepaalt wat wij voor je doen – van het hele project of enkel de ruwbouw en afwerking.</li>
					<li><i class="far fa-check-circle text-primary mr-2"></i><span class="font-semibold">Vakmanschap en betrouwbaarheid:</span> Met ons ervaren team garanderen we dat elke fase van je project, groot of klein, professioneel en volgens de hoogste kwaliteitsnormen wordt uitgevoerd.</li>
					<li><i class="far fa-check-circle text-primary mr-2"></i>Meer dan <span class="font-semibold">20 jaar relevante ervaring</span> in de bouwsector.</li>
				</ul>
			</div>
		</section>
		
			<section class="bg-antracite text-center py-10">
				<div class="container">
				<a href="#contact" class="bg-primary hover:bg-primary-dark text-white uppercase px-8 text-xl font-medium py-3 inline-block mb-6">Contacteer ons</a>
				<div class="text-white text-2xl sm:text-3xl font-heading font-semibold mt-6 text-center">
					<a href="mailto:strakplan@bouwcoordinatie.com">strakplan@<span class="sm:hidden"><br /></span>bouwcoordinatie.com</a>
				</div>
				<div class="text-white text-2xl sm:text-3xl font-heading font-semibold mt-3">
					<a href="tel:+32499009322">+32 499 00 93 22</a>
				</div>
				<div class="mt-8 inline-flex space-x-3 mx-auto">
					<a href="https://www.facebook.com/daseenstrakplan" class="transition ease-in rounded-full bg-primary hover:bg-primary-dark text-white w-10 h-10 inline-flex justify-center items-center">
						<i class="fab fa-facebook-f"></i>
					</a>
					<a href="https://instagram.com/strak_plan_bouwcoordinatie?igshid=YmMyMTA2M2Y=" class="transition ease-in rounded-full bg-primary hover:bg-primary-dark text-white w-10 h-10 inline-flex justify-center items-center">
						<i class="fab fa-instagram"></i>
					</a>
				</div>
				</div>
			</section>

			<section class="bg-antracite py-28" id="projecten">
				<div class="container">
				<h2 class="text-center text-white text-4xl font-bold">Projecten</h2>
				<div class="grid grid-cols-2 md:grid-cols-3 gap-x-5 gap-y-10 max-w-5xl mx-auto mt-12">
					{allProjects.map(p => (
						<a href={'/project/' + p.slug} class="group">
							<div class="flex aspect-square relative overflow-hidden items-center">
								<img src={'/images/projects/'+ p.slug + '/' + p.data.banner} class="object-cover absolute min-h-full min-w-full"/>
							</div>
							<div class="text-primary font-medium mt-3">
								{p.data.type}
							</div>
							<div class="text-white font-medium text-xl -mt-0.5 flex gap-2.5 items-center">
								{p.data.title} <i class="far fa-long-arrow-right text-primary opacity-0 group-hover:opacity-100 transition ease-in-out duration-100"></i>
							</div>
						</a>
					))}
				</div>
				</div>
			</section>
	</main>
</Layout>
