---
import NavMenu from "../components/nav-menu.vue";
import Layout from "../layouts/Layout.astro";
import Box from "../components/box.vue";
---

<Layout>
	<header class="">
		<div class="md:container relative h-full">
			<Box>
				<a href="/" class="inline-block">
					<img src="/logo.png" class="w-52" alt="Strak Plan" />
				</a>
			</Box>
		</div>
	</header>
	<main class="my-20">
		<div class="md:container">
			<h1 class="text-antracite text-4xl font-bold mb-5">Privacy & cookies</h1>

			<p class="mb-4">
				Strak Plan is de verantwoordelijke voor de persoonsgegevensverwerking,
				zoals omschreven in deze privacyverklaring.
			</p>
			<p class="mb-4">
				Postadres: 1980 Zemst, Gulderij 34 B<br />
				E-mailadres: strakplan@bouwcoördinatie.com<br />
				KBO-ummer: 0773.317.454
			</p>
			<p class="mb-4">
				Strak Plan stelt deze privacyverklaring op om inzicht te geven over het
				gebruik van persoonsgegevens op www.eenstrakplan.be (hierna "de
				website"), en alle aan de website gerelateerde domeinen.
			</p>
			<p class="mb-4">
				Onder persoonsgegevens worden alle gegevens verstaan waarmee een
				individu geïdentificeerd kan worden, zoals de naam, het klantnummer en
				de persoonlijke contactgegevens. Gegevens die niet persoonlijk zijn,
				maar in combinatie met persoonlijke gegevens tot identificatie van de
				gebruiker leiden, hebben tevens te gelden als persoonsgegevens.
			</p>
			<p class="mb-4">
				Deze privacyverklaring is van toepassing op iedereen die de website
				bezoekt, of op enig andere wijze met de website communiceert (hierna "de
				gebruiker").
			</p>
			<p class="mb-4">
				Strak Plan verbindt zich ertoe de Verordening (EU) 2016/679 van het
				Europees Parlement en de Raad van 27 april 2016 betreffende de
				bescherming van natuurlijke personen in verband met de verwerking van
				persoonsgegevens en betreffende het vrije verkeer van die gegevens en
				tot intrekking van Richtlijn 95/46/EG (algemene verordening
				gegevensbescherming) en de Uitvoeringswet Algemene verordening
				gegevensbescherming in acht te nemen.
			</p>
			<p class="mb-4">
				Strak Plan draagt zorg voor passende maatregelen ter bescherming van de
				verzamelde en verwerkte persoonsgegevens.
			</p>
			<p class="mb-4">
				In het geval van vragen naar aanleiding van deze privacyverklaring, of
				andere aan privacybescherming gerelateerde vragen, kan contact opgenomen
				worden via: info@eenstrakplan.be
			</p>
			<p class="mb-3 italic">
				Deze privacyverklaring is voor het laatst bijgewerkt op: 2 april 2023.
			</p>

			<div class="mb-5">
				<h2 class="text-xl font-bold mb-3 uppercase mt-10">
					1. WELKE GEGEVENS WORDEN VERWERKT
				</h2>
				Bij het gebruik van de website of diensten van Strak Plan kunnen de volgende
				persoonsgegevens worden verzameld en verwerkt
				<ul>
					<li>E-mailadres dat door de gebruiker werd opgegeven</li>
				</ul>
			</div>

			<div class="mb-5">
				<h2 class="text-xl font-bold mb-3 uppercase mt-10">
					2. DOEL VAN DE VERWERKING VAN DE GEGEVENS
				</h2>
				<p class="mb-4">
					Met inachtneming van de privacywetgeving, worden de persoonsgegevens
					van de gebruikers uitsluitend gebruikt voor de volgende doeleinden: De
					gebruiker te contacteren na het invullen van het formulier op de
					website. In navolging van artikel 6 Algemene Verordening
					Gegevensbescherming heeft de verwerking van persoonsgegevens voor de
					bovengenoemde doeleinden de volgende grondslag:
				</p>
				<ul>
					<li>
						De gebruiker heeft toestemming gegeven voor de verwerking van zijn
						persoonsgegevens. (lid 1 sub a) De gegeven toestemming kan te allen
						tijde door de gebruiker worden ingetrokken.
					</li>
				</ul>
			</div>

			<div class="mb-5">
				<h2 class="text-xl font-bold mb-3 uppercase mt-10">
					3. ONTVANGERS VAN DE PERSOONSGEGEVENS
				</h2>
				<p>
					Persoonsgegevens kunnen door Strak Plan worden verstrekt aan derden,
					indien dit verenigbaar is met het in deze privacyverklaring genoemde
					doel waarvoor de gegevens zijn verzameld. Persoonsgegevens worden
					enkel verstrekt voor de periode en omvang die noodzakelijk is voor de
					uitvoering van de door Strak Plan gegeven opdracht aan de ontvangers.
					In alle gevallen van verstrekking van persoonsgegevens aan derden,
					draagt Strak Plan er zorg voor dat de gegevens enkel voor de beoogde
					doeleinden worden gebruikt en overeenkomstig het wettelijk verzekerde
					beschermingsniveau worden bewaard. Strak Plan verkoopt de gegevens van
					de gebruiker nooit voor commerciële doeleinden.
				</p>
			</div>

			<div class="mb-5">
				<h2 class="text-xl font-bold mb-3 uppercase mt-10">
					4. BEWAARTERMIJN VAN DE GEGEVENS
				</h2>
				<p class="mb-4">
					De persoonsgegevens worden door Strak Plan niet langer gebruikt of
					opgeslagen dan noodzakelijk is voor het bereiken van de doelstellingen
					waarvoor de gegevens worden verzameld overeenkomstig deze
					overeenkomst.
				</p>
			</div>

			<div class="mb-5">
				<h2 class="text-xl font-bold mb-3 uppercase mt-10">
					5. RECHTEN VAN DE GEBRUIKERS
				</h2>
				<p class="mb-4">
					De gebruiker van de website kan op ieder moment zijn rechten
					uitoefenen ten aanzien van Strak Plan.
				</p>
				<p class="mb-4">
					De gebruiker kan zijn verzoek tot de uitoefening van één of meer van
					zijn rechten kenbaar maken aan Strak Plan middels één van de in deze
					privacyverklaring genoemde contactgegevens van Strak Plan.
				</p>
				<p class="mb-4">
					Strak Plan geeft gehoor aan het verzoek van de gebruiker, tenzij het
					verzoek ongegrond of buitensporig is.
				</p>
				<p class="mb-4">
					Strak Plan geeft uiterlijk binnen een maand na het verzoek reactie op
					het verzoek van de gebruiker, ook wanneer geen gehoor wordt gegeven
					aan het verzoek.
				</p>
				<p>
					De reactie op het verzoek dient duidelijk te zijn voor de gebruiker,
					en dient schriftelijk of via andere (elektronische) middelen te worden
					verstrekt aan de gebruiker.
				</p>
				<div class="mt-10">
					<p class="mb-4 italic">a. Recht op informatie over de verwerkingen</p>
					<p class="mb-4">
						De gebruiker van de website heeft het recht op een duidelijke en
						transparante uitleg over de gegevensverwerking.
					</p>
					<p class="mb-4">
						Middels deze privacyverklaring verstrekt Strak Plan informatie over
						de bron van de gegevens, de gegevensontvanger(s), de doelstellingen,
						noodzakelijkheid en grondslag van de gegevensverwerking, de
						waarborgen voor gegevensbescherming, de bewaartermijn, de
						contactgegevens voor klachten, de rechten van de gebruiker.
					</p>
				</div>

				<div class="mt-10">
					<p class="mb-4 italic">b. Recht van inzage</p>

					<p class="mb-4">
						De gebruiker van de website heeft het recht om, met redelijke
						tussenpozen, zijn persoonsgegevens die zijn verzameld in te zien.
					</p>

					<p class="mb-4">
						Strak Plan verstrekt de gebruiker, indien hierom is verzocht, inzage
						in een overzicht met in ieder geval de volgende gegevens met
						betrekking tot de gebruiker:
					</p>
					<ul class="list-inside mb-6">
						<li class="list-disc">
							de doelstellingen voor de gegevensverwerking;
						</li>
						<li class="list-disc">
							de categorieën van persoonsgegevens die worden verwerkt;
						</li>
						<li class="list-disc">
							de ontvangers of categorieën van ontvangers aan wie de
							persoonsgegevens worden doorgegeven;
						</li>
						<li class="list-disc">de bewaartermijn van de persoonsgegevens;</li>
						<li class="list-disc">
							het recht op wijziging, verwijdering, beperking, of bezwaar;
						</li>
						<li class="list-disc">het recht om een klacht in te dienen.</li>
					</ul>
					<p class="mb-4"></p>
					Wanneer de gebruiker verzoekt tot inzage in zijn verzamelde persoonsgegevens,
					wordt voordat inzage wordt gegeven, de identiteit van de gebruiker vastgesteld
					door Strak Plan.
				</div>

				<p class="mb-4">
					Indien een kopie van de gegevens wordt verstrekt aan de gebruiker,
					worden voor de verstrekking van de kopie geen kosten in rekening
					gebracht, tenzij de gebruiker meerdere kopieën wil ontvangen en hier
					op basis van administratieve kosten een redelijke vergoeding voor
					gevraagd kan worden.
				</p>

				<p class="mb-4">
					De kopie wordt schriftelijk aangeboden, waaronder begrepen in
					elektronische vorm.
				</p>

				<p class="mb-4">
					Indien de gebruiker het verzoek tot inzage elektronisch indient, wordt
					de kopie van de gegevens eveneens middels elektronische vorm
					verstrekt, tenzij de gebruiker anders verzoekt.
				</p>

				<p class="mb-4">
					Een kopie van de persoonsgegevens wordt binnen een maand na het
					verzoek aan de gebruiker verstrekt.
				</p>
			</div>
			<div class="mt-10">
				<p class="mb-4 italic">c. Recht op rectificatie</p>
				<p>
					De gebruiker van de website heeft het recht om zijn persoonsgegevens
					te corrigeren of aan te vullen indien deze niet accuraat zijn.
				</p>

				<p class="mb-4">
					Indien de gebruiker niet de mogelijkheid heeft om zijn
					persoonsgegevens zelf te corrigeren of aan te vullen, kan de gebruiker
					Strak Plan opdragen zijn persoonsgegevens te corrigeren of aan te
					vullen.
				</p>

				<p class="mb-4">
					Strak Plan brengt alle ontvangers van de persoonsgegevens op de hoogte
					van de gewijzigde gegevens, tenzij dit onmogelijk blijkt of
					onevenredige inspanning vergt in verhouding tot de belangen van de
					gebruiker. Strak Plan verstrekt de gebruiker informatie over deze
					ontvangers indien de gebruiker hierom verzoekt.
				</p>
			</div>

			<div class="mt-10">
				<p class="mb-4 italic">d. Recht op gegevenswissing</p>
				<p class="mb-4">
					De gebruiker van de website heeft het recht om zijn verzamelde
					persoonsgegevens door Strak Plan te laten wissen, indien sprake is van
					één van de in artikel 17, lid 1 Algemene verordening
					gegevensbescherming genoemde situaties.
				</p>
				<p class="mb-4">
					Tevens heeft de gebruiker het recht om 'vergeten te worden' indien
					Strak Plan persoonsgegevens van de gebruiker openbaar heeft gemaakt en
					de gebruiker verzoekt om uitwissing van zijn gegevens. Strak Plan
					dient in dit geval de nodige maatregelen te nemen om andere
					verwerkingsverantwoordelijken op de hoogte te brengen dat de gebruiker
					zijn persoonsgegevens of enig kopie hiervan wil uitwissen.
				</p>
				<p class="mb-4">
					Er hoeft geen gehoor te worden gegeven aan een verzoek tot uitwissing
					van persoonsgegevens indien de verwerking van de gegevens nodig is
					voor één van de in artikel 17, lid 3 Algemene verordening
					gegevensbescherming genoemde redenen.
				</p>
			</div>

			<div class="mt-10">
				<p class="mb-4 italic">e. Recht op overdraagbaarheid van gegevens</p>
				<p class="mb-4">
					De gebruiker van de website heeft het recht om zijn persoonsgegevens
					te verkrijgen van Strak Plan in een gestructureerde, gangbare en
					machineleesbare vorm en door te geven aan een andere
					verwerkingsverantwoordelijke, zonder dat Strak Plan hem hierbij
					hindert, indien sprake is van één van de in artikel 20, lid 1 Algemene
					verordening gegevensbescherming genoemde situaties.
				</p>
				<p class="mb-4">
					Indien de gebruiker zijn recht op overdraagbaarheid van gegevens
					uitoefent, heeft de gebruiker tevens het recht dat de persoonsgegevens
					rechtstreeks van de ene naar de andere verwerkingsverantwoordelijke
					worden doorgestuurd, tenzij dit technisch niet mogelijk is.
				</p>
				<p class="mb-4">
					De uitoefening van het recht op overdraagbaarheid laat het recht tot
					gegevenswissing onverlet. Dat recht geldt niet voor de verwerking die
					noodzakelijk is voor de vervulling van een taak van algemeen belang of
					van een taak in het kader van de uitoefening van het openbaar gezag
					dat aan Strak Plan opgedragen is.
				</p>
				<p class="mb-4">
					De uitoefening van het recht op overdraagbaarheid doet geen afbreuk
					aan de rechten en vrijheden van derden.
				</p>
			</div>

			<div class="mt-10">
				<p class="mb-4 italic">f. Recht van bezwaar</p>
				<p class="mb-4">
					De gebruiker van de website heeft te allen tijde het recht om bezwaar
					te maken, vanwege zijn specifieke situatie, tegen de verwerking van
					zijn persoonsgegevens door Strak Plan.
				</p>
				<p class="mb-4">
					In bovenstaand geval zal Strak Plan staken met de verwerking van de
					persoonsgegevens van de gebruiker, tenzij Strak Plan dwingende
					gerechtvaardigde gronden voor de verwerking kan aanvoeren die zwaarder
					wegen dan de belangen, rechten en vrijheden van de gebruiker, of die
					verband houden met de instelling, uitoefening of onderbouwing van een
					rechtsvordering.
				</p>
				<p class="mb-4">
					Bij verwerking van de persoonsgegevens voor direct marketing
					doeleinden, heeft de gebruiker te allen tijde het recht om bezwaar te
					maken tegen de verwerking van zijn persoonsgegevens.
				</p>
				<p class="mb-4">
					Indien de gebruiker bezwaar maakt tegen gegevensverwerking ten behoeve
					van direct marketing, worden de gegevens niet langer voor deze
					doeleinden verwerkt.
				</p>
			</div>
			<div class="mt-10">
				<p class="mb-4 italic">g. Klachtrecht</p>

				<p class="mb-4">
					De gebruiker van de website heeft het recht om een klacht in te dienen
					met betrekking tot de verwerking van zijn persoonsgegevens door Strak
					Plan bij de Autoriteit Persoonsgegevens.
				</p>
				<p class="mb-4">
					Zowel klachten met betrekking tot de verwerking van de
					persoonsgegevens van de gebruiker, als klachten met betrekking tot
					onjuiste naleving van de toepasselijke wetgeving kunnen worden
					ingediend.
				</p>
				<p class="mb-4">
					De Autoriteit Persoonsgegevens is in Nederland aangesteld voor het
					houden van toezicht op persoonsgegevensverwerking. Informatie met
					betrekking tot de Autoriteit Persoonsgegevens kan gevonden worden op
					https://autoriteitpersoonsgegevens.nl/.
				</p>
			</div>
			<div class="mb-5">
				<h2 class="text-xl font-bold mb-3 uppercase mt-10">
					6. HET GEBRUIK VAN COOKIES Strak
				</h2>
				<p>Plan maakt geen gebruik van cookies.</p>
			</div>
		</div>
	</main>
</Layout>
