---
import NavMenu from '../components/nav-menu.vue';
import Layout from '../layouts/Layout.astro';
import Box from '../components/box.vue';
---

<Layout>
    <header class="" >
        <div class="md:container relative h-full">
            <Box>
                <a href="/" class="inline-block">
                    <img src="/logo.png" class="w-52" alt="Strak Plan">
                </a>
            </Box>
        </div>
    </header>
	<main class="mt-20">
       <div class="md:container ">
            <h1 class="text-antracite text-4xl font-bold mb-5">
                Algemene en bijzondere voorwaarden
            </h1>

            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et accusamus voluptas ipsa temporibus odit natus impedit, eligendi officia molestias deserunt quaerat officiis nulla fugit, ipsum rerum reiciendis ullam ratione neque.
            </p>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et accusamus voluptas ipsa temporibus odit natus impedit, eligendi officia molestias deserunt quaerat officiis nulla fugit, ipsum rerum reiciendis ullam ratione neque.

                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et accusamus voluptas ipsa temporibus odit natus impedit, eligendi officia molestias deserunt quaerat officiis nulla fugit, ipsum rerum reiciendis ullam ratione neque.

                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et accusamus voluptas ipsa temporibus odit natus impedit, eligendi officia molestias deserunt quaerat officiis nulla fugit, ipsum rerum reiciendis ullam ratione neque.
            </p>
            <p>
                Lorem ipsum dolor sit, amet consectetur adipisicing elit. Et accusamus voluptas ipsa temporibus odit natus impedit, eligendi officia molestias deserunt quaerat officiis nulla fugit, ipsum rerum reiciendis ullam ratione neque.
            </p>
       </div>
	</main>
    
</Layout>
