---
import NavMenu from "../components/nav-menu.vue";
import Layout from "../layouts/Layout.astro";
import Box from "../components/box.vue";
---

<Layout>
	<header class="">
		<div class="md:container relative h-full">
			<Box>
				<a href="/" class="inline-block">
					<img src="/logo.png" class="w-52" alt="Strak Plan" />
				</a>
			</Box>
		</div>
	</header>
	<main class="mt-20">
		<div class="md:container">
			<h1 class="text-antracite text-4xl font-bold mb-5">
				Algemene en bijzondere voorwaarden
			</h1>

			<article class="my-8">
				<h2 class="text-primary font-bold text-xl mb-4">
					Artikel 1: Bouwplaats gegevens en bepalingen van de bouwwerken
				</h2>

				<p>
					De OPDRACHTGEVER verklaart eigenaar te zijn van de grond/het te
					renoveren gebouw. Verklaart over de nodige machtiging te beschikken om
					te bouwen op het bouwperceel/werken uit te voeren aan voorgemeld
					gebouw.
				</p>
				<p>
					De OPDRACHTEGEVER bezorgt de BOUWCOÖRDINATOR de goedgekeurde
					bouwvergunning of melding der werken. Bij renovatie dient het EPC
					label bezorgt te worden indien deze verkregen is bij recentelijk
					aankoop van de woning (wettelijk verplicht). Als er volgens de aard
					der werken architect, stabiliteitsingenieur, veiligheidscoördinator of
					EPB verslaggever dient aangesteld te worden kan dit enkel in
					samenspraak met de BOUWCOÖRDINATOR.
				</p>
				<p>
					De BOUWCOÖRDINATOR stelt op basis van het voorgelegde programma en
					eisen een voorlopige raming op aan de hand van
					standaardeenheidsprijzen per eenheid die als basis genomen worden voor
					de berekening van de “coördinatie fee”. De raming is louter indicatief
					om een prijsindicatie aan te geven van wat de werken vermoedelijk
					kunnen kosten. Dit bedrag geldt niet als een overeengekomen kostprijs
					met de BOUWCOÖRDINATOR en houdt geen enkele aansprakelijkheid in van
					de BOUWCOÖRDINATOR i.v.m. de uiteindelijke kostprijs voor het project.
					De BOUWCOÖRDINATOR gaat met betrekking tot het budget slechts een
					middelenverbintenis aan de uiteindelijke kostprijs wordt bepaald
					tussen de OPDRACHTGEVER en de aannemer(s).
				</p>
			</article>

			<article class="my-8">
				<h2 class="text-primary font-bold text-xl mb-4">
					Artikel 2: Opdracht en verplichtingen van de BOUWCOÖRDINATOR
				</h2>

				<p>
					De OPDRACHTGEVER bevestigd uitdrukkelijk dat de architect, ten einde
					te voldoen aan deze wettelijke verplichtingen de opdracht volledig zal
					toegewezen worden aan de BOUWCOÖRDINATOR.
				</p>

				<h3 class="text-primary font-semibold mb-3 mt-5">
					2.2. Opdracht omschreven
				</h3>
				<p>De opdracht wordt uitgevoerd zoals omschreven in de offerte</p>

				<h3 class="text-primary font-semibold mb-3 mt-5">
					2.3. Controle op uitvoering
				</h3>
				<p>
					De BOUWCOÖRDINATOR en de BOUWHEER zullen, vooraleer de betrokken
					bouwpartner tussenkomt op de werf, een verzekeringsattest opvragen
					waaruit moet blijken dat dient tienjarige aansprakelijkheid zoals
					vastgelegd in artikel 1792 BW voor dit project is verzekerd. De
					BOUWCOÖRDINATOR en de OPDRACHTGEVER verbindt zich ertoe enkel
					bouwpartners aan te stellen en toe te laten op de werf die dit attest
					dienen voor te leggen. Ten einde de BOUWCOÖRDINATOR toe te laten zijn
					controleopdracht uit te voeren, zal de OPDRACHTGEVER de
					BOUWCOÖRDINATOR tijdig op de hoogte brengen van de aanstelling van de
					bouwpartner in kwestie en diens geplande tussenkomst als deze
					aangesteld word of werd door de OPDRACHTGEVER.
				</p>
				<p>
					De controle op de werken omvat de algemene controle op de uitvoering,
					conform aan de goedgekeurde plannen en de regels van de kunst.
				</p>
				<p>
					De controle houdt geen bestendig toezicht of leiding van de werken in
					en is een nazicht van wat de aannemer heeft uitgevoerd of op dat
					ogenblik uitvoert. De controle op de uitvoering van de werken houdt
					enkel een algemeen nazicht van de werken in, met uitsluiting van het
					permanent toezicht op de verwerking van de materialen, waarvoor de
					aannemer verantwoordelijk is. De BOUWCOÖRDINATOR kan niet
					verantwoordelijk gesteld worden voor het feit dat ten gevolge van zijn
					controle reeds uitgevoerde werken moeten afgebroken of gewijzigd
					worden. De BOUWCOÖRDINATOR is evenmin verantwoordelijk voor de
					gebeurlijke vertraging te wijten aan de gevolgen van de weigering van
					de aannemer om zijn fouten te herstellen.
				</p>
				<p>
					De controle zal onder meer worden uitgevoerd door werfbezoeken waarvan
					de BOUWCOÖRDINATOR het tijdstip en de frequentie autonoom bepaalt in
					functie van de aard en de vooruitgang van de werken. De
					BOUWCOÖRDINATOR zal minstens 1 maal per week de werf bezoeken alsmede
					op belangrijke tijdstippen in het verloop van de werkzaamheden mits
					hij tijdig door de uitvoerders en/of de opdrachtgever op de hoogte
					werd gebracht van de planning van de werken.
				</p>
				<p>
					Op regelmatige basis zal een genummerd werfverslag worden opgesteld
					dat aan alle belanghebbenden zal bezorgd worden. De mededeling per
					e-mail geldt als bewijs van verzending. De goedkeuring van het
					werfverslag zal steeds als eerste agendapunt op de volgende
					werfvergadering worden besproken. Belangrijke wijzigingen of
					beslissingen genotuleerd in een werfverslag dienen medeondertekend te
					worden door de opdrachtgever of per afzonderlijke post aan de
					betrokken partijen overgemaakt. De BOUWCOÖRDINATOR is niet
					verantwoordelijk indien de aannemer geen gevolg geeft aan de
					opmerkingen vermeld in de werfverslagen of weigert om de vereiste
					herstellingen/of aanpassingen uit te voeren.
				</p>

				<h3 class="text-primary font-semibold mb-3 mt-5">2.4. Andere taken</h3>

				<h4>2.4.1 bijstand bij oplevering</h4>
				<p>
					De BOUWCOÖRDINATOR verleent bijstand bij de oplevering van de werken
					tussen de aannemers en OPDRACHTGEVER. De taak van de BOUWCOÖRDINATOR
					bestaat er bij de oplevering van de werken in de OPDRACHTGEVER bij te
					staan en te oordelen of het werk door de aannemer of de aannemers
					overeenkomstig de plannen en het bestek uitgevoerd is. Hij adviseert
					de opdrachtgever of eventuele tekortkomingen dienen aanleiding te
					geven tot herstelling of weigering van de oplevering.
				</p>

				<h4>2.4.2. Nazicht van de rekeningen</h4>
				<p>
					De BOUWCOÖRDINATOR verleent bijstand bij het nazicht van de
					rekeningen. Hij adviseert de OPDRACHTGEVER omtrent de juistheid van de
					aangerekende bedragen in het licht van de uitgevoerde werken. Dit
					nazicht houdt evenwel geen aanvaarding in van de facturen. Enkel de
					OPDRACHTGEVER is hiertoe bevoegd.
				</p>

                <h3 class="text-primary font-semibold mb-3 mt-5">2.5. Grenzen van de taak van de BOUWCOÖRDINATOR</h3>

                <h4>2.5.2 Aard van de verbintenissen</h4>
                <p>
                    De overeenkomst is een middelenverbintenis waarbij de BOUWCOÖRDINATOR zijn opdracht vervult door tijdig de nodige prestaties te leveren die zich opdringen door de aard van belangrijkheid van de constructieve uitvoeringen.
                    
                </p>
			</article>
		</div>
	</main>
</Layout>
